page-orders {
  .center {
	margin-left: auto;
	margin-right: auto;
	display: block;
  }
  //$background-color: transprent;
  //ion-app, ion-content {
  //background-color: transparent !important;
  //}
}
